@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
html {
  height: 100%;
}

body {
  background-color: #222222;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #a2d2ff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

a {
  color: #a2d2ff;
  text-decoration: none;
}

#top-bar {
  padding: 0px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex: 0 0 50px;
  border-bottom: 1px solid #a2d2ff;
}
#top-bar a {
  color: #a2d2ff;
  text-decoration: none;
  padding: 0 10px;
  font-size: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

select {
  background-color: #222222;
  color: #a2d2ff;
  border: 1px solid #a2d2ff;
  padding: 5px;
  font-size: 14px;
  margin-right: 10px;
  margin: 0;
  cursor: pointer;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}

#cover_sel {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

#queue {
  display: flex;
  flex-direction: column;
  background-color: #222222;
  color: #a2d2ff;
  padding: 10px;
  overflow: auto;
  width: fit-content;
  flex: 0.4;
  height: calc(100% - 20px);
}

#tracklist {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #222222;
  color: #a2d2ff;
  padding: 10px;
  padding-bottom: 0;
}
#tracklist .album {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}
#tracklist .album .data {
  display: flex;
  flex-direction: column;
  width: calc(100% - 100px);
  gap: 5px;
}
#tracklist .album .data .main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#tracklist .album .data .secondary {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
#tracklist .album img {
  border-radius: 5px;
}
#tracklist .album .artist {
  font-size: 24px;
  color: #cdb4db;
  margin: 0;
}
#tracklist .album .title {
  font-size: 36px;
  font-weight: 600;
  margin-top: 5px;
}
#tracklist .album .year {
  font-size: 12px;
  color: #cdb4db;
}
#tracklist .album .genres {
  font-size: 12px;
  color: #cdb4db;
  display: flex;
  gap: 5px;
}
#tracklist .album .genres span {
  background-color: #a2d2ff;
  color: #222222;
  padding: 5px;
  border-radius: 5px;
}
#tracklist .album button {
  background-color: #cdb4db;
  color: #222222;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  aspect-ratio: 1;
  duration: 0.3s;
}
#tracklist .album button:hover {
  background-color: #a2d2ff;
}
#tracklist .album .duration {
  color: #cdb4db;
  text-align: right;
}
#tracklist button {
  background-color: #cdb4db;
  color: #222222;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  aspect-ratio: 1;
  duration: 0.3s;
}
#tracklist button:hover {
  background-color: #a2d2ff;
}
#tracklist .tracklist {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  padding: 10px;
  flex: 1;
}
#tracklist .tracklist .track {
  display: grid;
  grid-template-columns: 2fr 1fr 0.5fr;
  width: calc(100% - 20px);
  margin: 0;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(80, 71, 86, 0.5);
  border-radius: 5px;
}
#tracklist .tracklist .track .duration {
  color: #cdb4db;
  text-align: right;
}
#tracklist .tracklist .track .title {
  color: #a2d2ff;
}
#tracklist .tracklist .track .artist {
  color: #cdb4db;
  text-align: center;
}
#tracklist .tracklist .track .duration {
  color: #cdb4db;
  text-align: right;
}

#mid {
  display: flex;
  flex-direction: row;
  background-color: #222222;
  color: #a2d2ff;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  overflow: auto;
}
#mid #album-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #222222;
  color: #a2d2ff;
  padding: 10px;
  overflow: auto;
  height: calc(100% - 20px);
  flex: 1;
  align-content: flex-start;
}
#mid #album-list .album {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow: auto;
  margin-right: 10px;
  margin-bottom: 10px;
}
#mid #album-list .album img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
#mid #album-list .album .artist {
  font-size: 12px;
  color: #cdb4db;
  margin-top: 5px;
}
#mid #album-list .album .title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
}
#mid #queue {
  display: flex;
  flex-direction: column;
  background-color: #222222;
  color: #a2d2ff;
  padding: 10px;
  overflow: auto;
  width: fit-content;
  flex: 0.4;
  height: calc(100% - 20px);
}
#mid #queue #player {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#mid #queue #player .cover {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
#mid #queue #player .title {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}
#mid #queue #player .artist {
  font-size: 16px;
  color: #cdb4db;
  margin: 0;
}
#mid #queue #player .time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
#mid #queue #player .time .current {
  color: #cdb4db;
}
#mid #queue #player .time .total {
  color: #cdb4db;
}
#mid #queue #player progress {
  width: 100%;
  height: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  background-color: #cdb4db;
  border-radius: 5px;
}
#mid #queue #player progress::-webkit-progress-bar {
  background-color: #cdb4db;
}
#mid #queue #player progress::-webkit-progress-value {
  background-color: #a2d2ff;
}
#mid #queue #player progress::-moz-progress-bar {
  background-color: #a2d2ff;
}
#mid #queue #player progress:hover {
  cursor: pointer;
}
#mid #queue #player .controls {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
#mid #queue #player .controls button {
  background-color: #222222;
  color: #a2d2ff;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  aspect-ratio: 1;
  duration: 0.3s;
}
#mid #queue #player .controls button:hover {
  color: #cdb4db;
}
#mid #queue #queue-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  padding: 10px;
}
#mid #queue #queue-list .track {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 0.5fr 0.5fr 0.5fr;
  width: calc(100% - 20px);
  margin: 0;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(80, 71, 86, 0.5);
  border-radius: 5px;
  gap: 10px;
}
#mid #queue #queue-list .track .title-artist-bloc {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#mid #queue #queue-list .track .title-artist-bloc .title {
  color: #a2d2ff;
  margin: 0;
}
#mid #queue #queue-list .track .title-artist-bloc .artist {
  color: #cdb4db;
  margin: 0;
}
#mid #queue #queue-list .track .duration {
  color: #cdb4db;
  text-align: right;
}
#mid #queue #queue-list .track img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
#mid #queue #queue-list .track button {
  background-color: #cdb4db;
  color: #222222;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  aspect-ratio: 1;
  duration: 0.3s;
}

/*# sourceMappingURL=global.css.map */
